<!-- <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$']]
      }
    });
</script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script> 
<a href="https://github.com/kuis-isle3sw/IoPLMaterials/blob/master/{{page.path}}">Edit this page</a> | <a href="https://github.com/kuis-isle3sw/IoPLMaterials/issues">Report an issue</a> -->

<!--
<script type="text/x-mathjax-config"> 
  MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); 
</script>
-->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'] ],
        processEscapes: true,
        processEnvironments: true
      }
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<a href="https://github.com/kuis-isle3sw/IoPLMaterials/blob/master/{{page.path}}">Edit this page</a> | <a href="https://github.com/kuis-isle3sw/IoPLMaterials/issues">Report an issue</a>