<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$']]
      }
    });
</script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script> 
<a href="https://github.com/kuis-isle3sw/IoPLMaterials/blob/master/{{page.path}}">Edit this page</a> | <a href="https://github.com/kuis-isle3sw/IoPLMaterials/issues">Report an issue</a>
